@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*========================================
                  Geral
==========================================*/
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
 
a{
	text-decoration: none;
	color: black;
}
body{
	margin: 40px 60px 40px 60px;
}
/*=========================================
                    TOPO
==========================================*/
header nav {
	display: flex;
	justify-content: space-between;
	padding: 10px 150px 50px 150px;
}
header nav ul{
	display: flex;
}
header nav ul li{
	color: black;
	padding: 0 0 0 30px;
}
section.banner {
	display: flex;
	border-bottom: 2.5px solid lightgray;
	padding: 120px 150px 120px 150px;
}
section.banner div{
	padding: 2px 4px 2px 4px;
}
section.banner div h1{
	font-size: 4rem;
	border-bottom: 1px solid lightgray;
	padding: 50px 50px 50px 50px;
}
section.banner div.principal{
	padding: 2vw 4vw 2vw 4vw;
}
section.banner div.samanta p.cinza{
	color: gray;
}
section.banner div.samantha{
	padding: 50px 10px 10px 10px;
}
section.banner div.samantha p.primeiro{
	padding: 10px 5px 30px 5px;
	color: rgb(73, 73, 73);
}
section.banner div.samanta{
	display: flex;
}
section.banner div.samanta ul{
	padding: 0.5vw 1vw 0 1vw;
}
section.baixo h1{
	margin: 90px 30px 20px 160px;
	font-size: 5rem;
	font-weight: 400;
}
section.baixo p.para{
	margin: 50px 30px 20px 160px;
	font-size: 1.2rem ;
	color: rgb(73, 73, 73);
}
section.baixo{
	display: flex;
}
section.baixo div.lista ol li span.numero{
	padding: 0 5px 0 0;
	font-size: 1.5rem;
	color: gray;
	font-weight: bold;
}
section.baixo div.lista ol li span.frase{
	color: gray;
}